@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: thin;
    font-weight: 100;
    font-display: swap;
    src: url(/fonts/Roboto-Thin.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: light;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/Roboto-Light.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Roboto-Bold.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Roboto-Italic.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Roboto-mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/RobotoMono-VariableFont_wght.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/Alegreya-SemiBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('/fonts/Alegreya-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('/fonts/Alegreya-ExtraBold.ttf') format('truetype');
  }
}

@layer components {
  .tech-text {
    @apply font-semibold tracking-widest font-roboto-mono text-neutral-alpha bg-gradient-to-br from-pink-600 via-purple-500 to-purple-400 bg-clip-text;
  }

  .emphasis-text {
    @apply font-semibold tracking-wider text-neutral-500;
  }

  .blur-content {
    backdrop-filter: blur(10px);
}
}
